
.dado1{
    height:100px; 
    width:100px; 
    background-color:rgb(160, 160, 160); 
    border-radius:5%; 
    margin-top: 30px; 
    margin-left:30px;
    border: 2px solid black;
    float: left;
}
h1{
    margin-top: 0px;
}
#dado4{
    margin-top: 10px;
}
#dado1{
    margin-top: 35px;
}
#dado2{
    margin-top: 35px;
}
.resultado{
    height:100px; 
    width:100px; 
    background-color:rgb(160, 160, 160); 
    border-radius:5%; 
    margin-top: 30px; 
    margin-left:30px;
    border: 2px solid black;
    float: left;
    text-align: center;
    line-height: 100px;
}